nav{
  margin: 1rem;
}

ul {
  background-color: #767574;
  height: max-content;
  margin: 0;
  padding: 1.5rem;
  border-radius: 10px;
}

a {
  text-decoration: none;
  padding-left: 4vw;
  color: aliceblue;
  margin-left: 10vw;
  font-size: 1.4rem;
}

a:hover {
  color: #3200CF;
}

a.active {
  color: purple;
}


